.section{
  background-color: #f5f5f5;
  margin-bottom: 10px;
}
.section::after{
  content: "";
  display: block;
  height: 5px;
}
div.card{
  border-radius: 0 !important;
}
/* 一楼左侧导航栏 */
.left-navbar{
  background-color: #333;
}
/* 一楼右侧轮播图样式 */
/* 轮播图大小 */
.banner{
  width: 100%;
  height: 402px;
}
/* 轮播图左右箭头 */
.carousel-control-next, .carousel-control-prev{
  width: 4%;
  height: 18%;
  opacity: 0.1;
  background-color: #bbb;
  top: 41%;
}
.carousel-control-next:focus, .carousel-control-prev:focus{
  opacity: 0.1;
}
.carousel-control-next:hover, .carousel-control-prev:hover{
  opacity: 0.3;
}
/* 二楼 */
/* 左侧六个小图样式 */
.hjh{
  width: 100%;
  height: 73px;
  opacity: 0.95;
  transition: opacity 0.2s linear;
}
/* 右侧三个中图 */
.xmad{
  width: 100%;
  height: 146px;
  opacity: 0.8;
}
.hjh:hover, .xmad:hover{
  opacity: 1;
}

/* 三楼手机商品样式 */
/* 标题 */
.title{
  background-image: repeating-linear-gradient(to bottom, #e5e5e5 0%, #ddd 25%, #f5f5f5 50%, #ddd 75%, #e5e5e5 100%);
}
.title-sj{
  font-size: 22px;
  font-weight: lighter;
  color: #444;
}
.title-ck, .jd-title{
  color: #666;
  font-size: 15px;
  transition: all .2s linear;
}
/* 手机商品顶部小标签 */
.product-latel{
  width: 33%;
  padding: 1px;
  margin: 0 auto;
  
}
.bg-green{
  background-color: #83c44e;
}
.bg-danger{
  background-color: #f00;
}
/* 手机商品边框 */
.product{
  transition: transform .2s linear;
  transition: box-shadow .2s linear;
}
.product:hover{
  transform: translateY(1px);
  box-shadow: 0 0 6px 2px #cfcfcf ;
}
/* 手机商品图片 */
.product-picture-bg{
  height: 606px;
}
.product-picture{
  transition: transform .4s linear;
}
.product-picture:hover{
  transform: scale(1.06);
}

/* 四楼家电商品 */
/* 标题 */
.jd-title{
  border-bottom: 2px solid transparent; 
} 
.jd-title:hover{
  border-bottom: 2px solid #ff6700;
}
/* 商品图片 */
.product-picture-md{
  height: 294px;
}
.product-picture-sm{
  height: 140px;
}
/* 六楼为你推荐商品样式 */
.product-fontsize{
  font-size: 13px;
}
/* 七楼热评产品 */
.buzz-appraisal{
  font-size: 14px;
  height: 90px;
  overflow: hidden;
}
.buzz-price{
  font-size: 14px;
}
/* 八楼内容 */
/* 颜色 */
.orange{
  color: #ffac13;
}
.orange-border{
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-top: 1px solid #ffac13;
}
.cyan{
  color: #83c44e;
}
.cyan-border{
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-top: 1px solid #83c44e;
}
.red{
  color: #e53935;
}
.red-border{
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-top: 1px solid #e53935;
}
.blue{
  color: #2196f3;
}
.blue-border{
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-top: 1px solid #2196f3;
}
/* 左右箭头样式 */
.content-icon-div-left, .content-icon-div-right{
  position: absolute;
  top: 43%;
  width: 8%;
  height: 14%;
  background-color: #999;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity .2s linear; 
}
div.content div.card:hover .content-icon-div-left, div.content div.card:hover .content-icon-div-right{
  opacity: 0.4;
}
.content-icon-div-left:hover, .content-icon-div-right:hover{
  opacity: 1 !important;
}
.content-icon-div-left{
  left: 0;
}
.content-icon-div-right{
  right: 0;
}
.content-icon-left, .content-icon-right{
  width: 20px;
}
.content-indicator{
  width: 7px;
  height: 7px;
  border-radius: 50%;
  margin: 23px 15px;
  background-color: #a0a0a0;
}
.content-indicator:hover{
  background-color: #ff6700; 
}
.content-active{
  width: 11px;
  height: 11px;
  border: 2px solid #ff6700;
  border-radius: 50%;
  margin: 21px 11px;
}
.text-truncate{
  cursor: pointer;
}
/* 九楼视频 */
.video-icon-bg{
  width: 15%;
  height: 10%;
  position: absolute;
  top: 48%;
  left: 12%;
  border: 2px solid #fff;
  z-index: 1;
  border-radius: 30px;
  transition: all .1s linear;
}
.video-icon-bg:hover{
  background-color: #ff6700;
  border: 2px solid #ff6700;
}
.video-icon{
  width: 60%;
}
/***************************媒体查询*************************************/
/* 超大屏 */
@media screen and (min-width: 1200px){
  /* 二楼左侧大图片 */
  .product-picture-bg{
    height:694px;
  }
  /* 三楼以下左侧两张中图片 */
  .product-picture-md{
    height: 339px;
  }
  /* 三楼以下右下角两张小图片 */
  .product-picture-sm{
    height: 161.98px;
  }
}
/* 中屏 */
@media screen and (max-width: 991.98px) and (min-width: 768px){
  .product-picture-bg{
    height:522px;
  }
  .product-picture-md{  
    height: 255px;
  }
  .product-picture-sm{
    height: 118.5px;
  }
  .buzz-price, .buzz-appraisal{
    font-size: 12px;
  } 
  .video-icon-bg{
    top: 40%;
    left: 13%
  }
}
/* 小屏 */
@media screen and (max-width: 767px){
  .xmad{
    height: 120px
  }
  .hjh{
    height: 60px;
  }
  .product-title, .product-price{
    font-size: 12px;
  }
  .md-fontSize{
    font-size: 12px;
  }
  .banner{
    height: 356px;
  }
  .product-picture-bg{
    height: 414px;
  }
  .product-picture-md{
    height: 203px;
  }
  .product-picture-sm{
    height: 98px;
  }
  .buzz-price, .buzz-appraisal{
    font-size: 8px;
  } 
  .buzz-appraisal{
    height: 55px;
  }
  .video-icon-bg{
    top: 40%;
    left: 13%
  }
}
/* 最小屏 */
@media screen and (max-width: 575.98px){
  .xmad{
    height: 100px;
  }
  .hjh{
    height: 50px;
  }
  .md-fontSize{
    font-size: 10px;
  }
  .banner{
    height: 340px;
  }
  .product-picture-bg{
    height: 394px;
  }
  .product-picture-md{
    height: 193px;
  }
  .product-picture-sm{
    height: 93px;
  }
  .video-icon-bg{
    top: 40%;
    left: 13%
  }
}
